@inherits LayoutComponentBase

<div style="display: grid; grid-template-columns: fr auto fr; grid-template-rows: 1fr auto 1fr; height: 100vh; width: 100vw">
    <div style="grid-column: 2; grid-row: 2">
        @Body
    </div>
</div>
